.cart-summery-section{
    padding: 10px;
}

.cart-summery-section .head{

    span{
        font-size: 20px;    
        letter-spacing: .5px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}

.cart-summery-section .info{
    margin-top: 20px;

    div:not(.total-amount){
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        border-bottom: solid 1px #e3e3e3;
        padding: 16px 0px;

        span{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        p{
            color: rgb(101, 101, 101);
        }
    }
}

.cart-summery-section .total-amount{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 16px 0px;
    font-weight: 500;

    span{
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

.cart-summery-section .btn{
    width: 100%;
    margin-top: 20px;

    button{
        width: 100%;
        padding: 10px 0px;
        border: none;
        border-radius: 4px;
        background-color: #121212;
        color: white;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        span{
            margin-right: 4px;
        }
    }

    button:hover{
        background-color: rgba(19, 19, 19, .9);  
    }
}