.category-section{
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.category-section .container{
    width: 100%;
}

.category-section .category-items{
    display: flex;
    flex-wrap: wrap;
    
}

.category-section .product-card{
    margin: 0px 10px;
    padding: 8px;
    border-radius: 8px;
    border: solid 1px #d5d5d5;
}

.category-section .image-container{
    width: 200px;
    height: 150px;

    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.category-section .info-container{
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p:first-child{
        font-size: 18px; 
        letter-spacing: 0.5px;
        font-weight: bold;
    }
}

